.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width:1135px;
    margin:0 auto;
}
@media (max-width: 991px){
    
}
@media (max-width: 947px){
    .container {
        max-width: 930px;
    }
}
@media (max-width: 690px){
    
}


/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
    .left_container {
        width: 680px;
        
    }
    
}
/* Tablet & mobile Layout: 768px. */
@media only screen and (max-width: 991px) { 
  


}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .top_header {
        padding: 40px 15px;
    } 
    .sidebar {
        float: none;
        width: 100%;
    }
    
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px){
    .top_header {
        flex-direction: column;
        padding: 40px;
    }
    .top_header {
        flex-direction: column;
    }
    .flex_slide {
        display: none;
    }
    .logo {
        width: 100%;
    }
    .search_form input {
        width: 100%;
       
    }
    
    .search_form {
        width: 100%;
        margin-top: 20px;
    }
    .bloge_share ul li a {
        padding: 4px 6px;
    }
    .second_header {
        display: none;
    }
    .left_container {
        padding: 0;
    }
    .bloge_text p img {
        width: 300px;
    }
    .left_container {
        float: none;
        width: 100%;
    }
    .sidebar {
        float: none;
        width: 250px;
    }
    
}
/* mediam device */
@media only screen and (min-width: 576px) and (max-width: 767px){
    .bloge_text p img {
        width: 100%;
    }
    
    
}